--extra-index-url https://download.pytorch.org/whl/cu130

transformers==5.15.0
accelerate==1.14.0
diffusers==0.39.0
spaces==0.51.1
peft==0.20.0
gradio==6.22.0
pillow==12.3.0
huggingface-hub
opencv-python==5.0.0.93
torch==2.11.0
torchvision==0.26.0
torchao==0.18.0
sentencepiece==0.2.2
safetensors==0.8.0
imageio==2.37.4
imageio-ffmpeg==0.6.0
ftfy==6.3.1